// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Demo Styles */
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: '微软雅黑', Microsoft Yahei, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
  background: #333;
  box-shadow: 0px 0px 100px #000 inset;
}
.preloader {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  opacity: 0;
  font-size: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(0,0,0,0.1);
}
.preloader.visible {
  top: 0;
  opacity: 1;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}

.swiper-slide {
  text-valign: middle;
  min-height: 100px;
  width: 100%;
  height: 100px;
  opacity: 0.8;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.swiper-slide-visible {
  opacity: 1;
}
/*http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/
.swiper-slide .title{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-slide .title{
  font-size: 42px;
}
.swiper-slide .title a, .swiper-slide .title a:visited{ 
  color: #fff;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.gray{ background: gray;}
.red{ background: #F05557;}
.orange{ background: #EFAE49;}
.cyan2{ background: #8AAAD9;}
.blue{ background: #38A5DB;}
.grass{ background: #A2CE7E;}
.green{ background: #21B799;}
.light-green{ background: #36D9C3;}
.cyan{ background: #74C7D5;}
.purple{ background: #9661A8;}
.pink{ background: #F1678D;}
.yellow{ background: #FAC928;}