<!DOCTYPE html>
<html>
<head>
  <title>撸闻天下-新闻阅读新体验，想看更多就向下撸一撸！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-CN" />
  <meta name="robots" content="ALL,FOLLOW" />
  <meta name="author" content="master@inruby.com" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="每日最新新闻排行榜，新闻阅读新体验，每日一撸，撸一撸看新闻，撸闻天下" />
  <meta name="description" content="撸闻天下，给你一种在手机上阅读新闻的全新体验！">
  
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
